@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700;800&family=Inter:wght@400;700;800&display=swap');

@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}

body {
	background: #000000;
}


h1 {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.intro {
	color: #DEE2E6;
	font-family: 'Inknut Antiqua', serif;
	font-size: 7px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.where {
	color: #FFFFFF;
	font-family: 'Inknut Antiqua', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.8px;
}

.pain {
	color: #FFFFFF;
	font-family: 'Inknut Antiqua', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.7px;
}

.time {
	color: #343A40;
	font-family: 'Inknut Antiqua', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.7px;
}

.conch-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.conch-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.conch-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.lobe-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.lobe-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.lobe-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tragus-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tragus-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tragus-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.angel-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.angel-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.angel-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tongue-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tongue-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.tongue-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dahlia-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dahlia-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dahlia-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.belly-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.belly-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.belly-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dermal-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dermal-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.dermal-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.surface-what {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.surface-type {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.surface-heal {
	color: #E9ECEF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

ul {
	color: #A2ABB5;
	font-family: 'Inter', sans-serif;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

p {
	color: #A2ABB5;
	font-family: 'Inter', sans-serif;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.conch {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.lobe {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.tragus {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.angel {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.tongue {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.dahlia {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.belly {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.dermal {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}

.surface {
	color: #DC3545;
	font-family: 'Inknut Antiqua', serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: -0.76px;
}